################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GarageOpener/Garage.Persistance/bin
/GarageOpener/Garage.Persistance/obj
/GarageOpener/.vs/GarageOpener
/GarageOpener/Garage.Repository/bin
/GarageOpener/Garage.Repository/obj
/GarageOpener/Garage.Service/bin
/GarageOpener/Garage.Service/obj
/GarageOpener/Garage.Service/Properties
/GarageOpener/Garage.UnitTests/obj
/Home.Core/Home.Core.Gpio/bin
/Home.Core/Home.Core.Gpio/obj
/GarageOpener/Garage.UnitTests/bin/Debug/netcoreapp3.0
/Home.Core/Home.Core.Security/bin/Debug/netcoreapp3.0
/Home.Core/Home.Core.Security/obj
/Home.Core/HomeAutomation-Android
/Home.Core/Home.Core.Security/bin/Release/netcoreapp3.0
/HomeAutomation-Android/.vs/HomeAutomation-Android
/HomeAutomation-Android/bin/Debug
/HomeAutomation-Android/HomeAutomationApp.Core/bin/Debug
/HomeAutomation-Android/HomeAutomationApp.Core/obj
/HomeAutomation-Android/obj
/Alexa/.vs
/Home.Core/Home.Core.Clients/bin/Debug/netstandard2.0
/Home.Core/Home.Core.Clients/obj
/.vs
/Alexa/Alexa_Functions.Tests/.vs
/Alexa/Alexa_Functions.Tests/obj
/Alexa/Alexa_Functions.Tests/bin
/Alexa/Alexa_Functions/.vs
/Alexa/Alexa_Functions/.lambda-test-tool
/Alexa/Alexa_Functions/obj
/Alexa/Alexa_Functions/bin
/Home.Core/Home.Core.Clients/bin/Release/netstandard2.0
/GarageOpener/bin/Debug
/GarageOpener/Garage.UnitTests/bin/Debug
/GarageOpener/obj
/Home.Core/Home.Core.Security/bin
